@using PagedList;
@using PagedList.Mvc;
@model  IPagedList<WCN_MVC.Models.WCNModel>

@*@model IEnumerable<WCN_MVC.Models.WCNModel>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    if (Session["UserID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<div class="container" style="text-align:center">
    <h4 style="color:red">WCN - Approval</h4>
</div>

<div class="nav search-row pull-right" id="top_menu">
    <!--  search form start -->
    <ul class="nav top-menu">
        <li>
            <form class="navbar-form">
                <label>Status : </label>
                <select style="width:100px; height:28px" id="selStatus" name="Status" autofocus="autofocus">
                    <option value="All" selected="selected">All</option>
                    <option value="Created">Created</option>
                    <option value="Completed">Completed</option>
                    <option value="Approved">Approved</option>
                    <option value="Cancelled">Cancelled</option>
                </select>
                <input class="form-control" placeholder="Search" id="txtSearch" name="SearchString" type="text" style="width:250px">
            </form>
        </li>
    </ul>
    <!--  search form end -->
</div>

<table class="table" id="tblApproval">
    <tr class="danger">
        <th>
            @Html.DisplayNameFor(model => model.First().WcnNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DivisionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Period)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Status)
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WcnNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DivisionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are sure wants to delete?');" })
            </td>
        </tr>
    }

    <tr>
        <td>
            @*@Html.ActionLink("Create New", "Create", "WCN", routeValues: null, htmlAttributes: new { @class = "btn btn-info", @role = "button" })*@
            @Html.ActionLink("Export To Excel", "Export", "WCNApproval", routeValues: null, htmlAttributes: new { @class = "btn btn-info", @role = "button" })
        </td>
        <td colspan="2">
                @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, Sorting_Order = Request.QueryString["Sorting_Order"] }),
                new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true })
            </td>
    </tr>

</table>
